<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <%= image_tag @artwork.image %>
  </div>
  <div class="col-md-6">
    <%= @artwork.name %>
    <%= @artwork.author %>
    <%= @artwork.description %>
    <%= @artwork.price %>
  </div>
</div>


<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
