<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <%= image_tag @artwork.image, class: 'img-responsive' %>
  </div>
  <div class="col-md-6">
    <div>
      <h2><%= @artwork.name %></h2>
    </div>
    <div>
      <h3><%= @artwork.author %></h3>
    </div>
    <div>
      <p><%= @artwork.description %></p>
    </div>
    <div>
      <p><strong>$<%= @artwork.price/100 %></strong></p>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
